body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #e0eafc, #cfdef3);
}

.header {
    background: #111827;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #93c5fd;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 40px;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.login-box, .exam-box, .cert-box {
    background: white;
    width: 450px;
    margin: 30px auto;
    padding: 25px;
    border-radius: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    background: #1e40af;
}

.certificate {
    border: 4px double #1e3a8a;
    padding: 25px;
    margin-top: 20px;
    text-align: center;
    background: #f8fafc;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    padding: 15px;
    background: #111827;
    color: white;
}

